<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
配置monster对象/JavaBean
在beans中可以配置多个bean,一个bean就是一个对象
class指定类的全路径，用于反射创建对象
id属性表示该Java对象在Spring容器中的id，通过id可以获取到该对象
-->
    <bean class="com.lily_stu.spring.bean.Monster" id="monster01">
        <!--没有指定就使用默认值-->
        <property name="id" value="100"/>
        <property name="name" value="牛魔王"/>
        <property name="skill" value="芭蕉扇"/>
    </bean>

    <bean class="com.lily_stu.spring.bean.Monster" id="monster02">
        <property name="id" value="100"/>
        <property name="name" value="牛魔王"/>
        <property name="skill" value="芭蕉扇"/>
    </bean>

<!--  默认id=com.lily_stu.spring.bean.Monster#0   -->
    <bean class="com.lily_stu.spring.bean.Monster">
        <property name="id" value="300"/>
        <property name="name" value="牛魔王"/>
        <property name="skill" value="芭蕉扇"/>
    </bean>

    <!--  默认id=com.lily_stu.spring.bean.Monster#1   -->
    <bean class="com.lily_stu.spring.bean.Monster">
        <property name="id" value="600"/>
        <property name="name" value="牛魔王"/>
        <property name="skill" value="芭蕉扇"/>
    </bean>

    <bean class="com.lily_stu.spring.bean.Car" id="car01">
        <property name="id" value="100"/>
        <property name="name" value="比亚迪"/>
        <property name="price" value="20"/>
    </bean>
</beans>