<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--引入外部的jdbc.properties文件-->
    <properties resource="jdbc.properties"/>
    <!-- 配置MyBatis 自带的日志输出, 还可以是其它日志比如SLF4J | LOG4J | LOG4J2 |JDK_LOGGING 等-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <!-- 为某个mapper 指定一个别名, 下面可以在XxxxxMapper.xml 做相应简化处理
        -->
        <typeAlias type="com.lilystu.entity.Monster" alias="Monster"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url"
                          value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.pwd}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 这里会引入(注册)我们的Mapper.xml 文件-->
        <mapper resource="com/lilystu/mapper/MonsterMapper.xml"/>

        <!--
            1. 如果是通过注解的方式，可不再使用MonsterMapper.xml
            2. 但是需要在mybatis-config.xml 注册含注解的类
        -->
        <mapper class="com.lilystu.mapper.MonsterAnnotation"/>
    </mappers>

</configuration>

