<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilystu.mapper.IdenCardMapper">
    <select id="getIdCardById" parameterType="Integer" resultType="IdenCard">
        SELECT * from idencard where id=#{id}
    </select>
</mapper>