<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilystu.mapper.IdenCardMapper">
    <select id="getIdCardById" parameterType="Integer" resultType="IdenCard">
        SELECT * from idencard where id=#{id}
    </select>
    <resultMap id="IdenCardResultMap" type="IdenCard">
        <id column="id" property="id"/>
        <result column="card_sn" property="card_sn"/>
        <association property="person" column="id"
                     select="com.lilystu.mapper.PersonMapper.getPersonByCardId">
        </association>
    </resultMap>
    <select id="getIdCardById2" parameterType="Integer" resultMap="IdenCardResultMap">
        SELECT * from idencard where id=#{id}
    </select>
</mapper>